<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="presentAlert()" color="primary" expand="full">
    Alert basic
  </ion-button>
  <br>
  <ion-button expand="full" (click)="presentAlertMultipleButtons()" color="secondary">
    Alert multiple buttons
  </ion-button>
  <br>
  <ion-button expand="full" (click)="alertConfirm()" color="tertiary">
    Alert confirm
  </ion-button>
  <br>
  <ion-button expand="full" (click)="alertPrompt()" color="success">
    Alert prompt
  </ion-button>
  <br>
  <ion-button expand="full" (click)="presentAlertRadio()" color="warning">
    Alert radio
  </ion-button>
  <br>
  <ion-button expand="full" (click)="presentAlertCheckbox()" color="danger">
    Alert checkbox
  </ion-button>
</ion-content>
